/* line 138, cloth/*.png */
.cloth-sprite, .jumbotron .flink, .jumbotron .flink.z, .jumbotron .flink.f, .middle-tool .tool-c, .middle-tool .tool-c.ks, .middle-tool .tool-c.ta, .cloth-list .carsol-left, .cloth-list .carsol-right {
  background: url('/images/cloth-s90c90ac70b.png') no-repeat;
}

/* line 11, ../sass/cloth.scss */
.navbar.navbar-default {
  border: 0px;
  background: #15afb9;
  color: #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  min-height: 0px;
  margin-bottom: 0px;
  text-align: center;
}

/* line 20, ../sass/cloth.scss */
.jumbotron {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  position: relative;
}
/* line 25, ../sass/cloth.scss */
.jumbotron ul {
  margin: 0px;
  padding: 0px;
}
/* line 28, ../sass/cloth.scss */
.jumbotron ul li {
  display: none;
}
/* line 30, ../sass/cloth.scss */
.jumbotron ul li img {
  width: 100%;
  padding: 0% 19.375%;
}
/* line 33, ../sass/cloth.scss */
.jumbotron ul li img.f {
  display: none;
}
/* line 37, ../sass/cloth.scss */
.jumbotron ul li.current {
  display: block;
}
/* line 42, ../sass/cloth.scss */
.jumbotron .flink {
  position: absolute;
  right: 3%;
  width: 25px;
  height: 110px;
  background-position: 0 -485px;
  top: -webkit-calc(30% - 55px);
  top: calc(30% - 55px);
}
/* line 49, ../sass/cloth.scss */
.jumbotron .flink.z {
  background-position: 0 -265px;
}
/* line 52, ../sass/cloth.scss */
.jumbotron .flink.f {
  background-position: 0 -375px;
}
/* line 55, ../sass/cloth.scss */
.jumbotron .flink .z {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 50%;
}
/* line 61, ../sass/cloth.scss */
.jumbotron .flink .f {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50%;
}
/* line 69, ../sass/cloth.scss */
.jumbotron .tool {
  background: #f1f1f1 !important;
  text-align: center;
  position: relative;
  margin: 0px;
  overflow: hidden;
  *zoom: 1;
}
/* line 75, ../sass/cloth.scss */
.jumbotron .tool i {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  height: auto;
  width: 10%;
  margin: 0% 1.2%;
}
/* line 84, ../sass/cloth.scss */
.jumbotron .tool i span {
  display: inline-block;
}
/* line 87, ../sass/cloth.scss */
.jumbotron .tool i:before {
  content: "";
  display: block;
  padding-top: 100%;
}
/* line 93, ../sass/cloth.scss */
.jumbotron .tool i.current {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
/* line 100, ../sass/cloth.scss */
.jumbotron .tool .i-up i {
  margin: 0.4% 1.2% -2% 1.2%;
}
/* line 102, ../sass/cloth.scss */
.jumbotron .tool .i-up i.c1 {
  background-color: #fff;
}
/* line 105, ../sass/cloth.scss */
.jumbotron .tool .i-up i.c3 {
  background-color: #fc0;
}
/* line 108, ../sass/cloth.scss */
.jumbotron .tool .i-up i.c5 {
  background-color: #f60;
}
/* line 111, ../sass/cloth.scss */
.jumbotron .tool .i-up i.c7 {
  background-color: #f00;
}
/* line 114, ../sass/cloth.scss */
.jumbotron .tool .i-up i.c9 {
  background-color: #b18bbc;
}
/* line 117, ../sass/cloth.scss */
.jumbotron .tool .i-up i.c11 {
  background-color: #ffc1d1;
}
/* line 120, ../sass/cloth.scss */
.jumbotron .tool .i-up i.c13 {
  background-color: #6d4432;
}
/* line 127, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c0 {
  background-color: #000;
}
/* line 129, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c0.current {
  -moz-box-shadow: inset 0 0 10px #fff;
  -webkit-box-shadow: inset 0 0 10px #fff;
  box-shadow: inset 0 0 10px #fff;
}
/* line 135, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c2 {
  background-color: #999;
}
/* line 138, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c4 {
  background-color: #99d02a;
}
/* line 141, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c6 {
  background-color: #063;
}
/* line 144, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c8 {
  background-color: #494a34;
}
/* line 147, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c10 {
  background-color: #00b9c5;
}
/* line 150, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c12 {
  background-color: #86ace3;
}
/* line 153, ../sass/cloth.scss */
.jumbotron .tool .i-down i.c14 {
  background-color: #1942af;
}

/* line 160, ../sass/cloth.scss */
.middle-tool {
  position: relative;
  width: 100%;
  text-align: center;
  border-top: 1px solid #9a9a9a;
  background-color: #666666;
}
/* line 166, ../sass/cloth.scss */
.middle-tool .tool-c {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin: 0 auto;
  width: 166px;
  height: 23px;
  background-position: 0 -242px;
}
/* line 174, ../sass/cloth.scss */
.middle-tool .tool-c.ks {
  background-position: 0 -196px;
}
/* line 177, ../sass/cloth.scss */
.middle-tool .tool-c.ta {
  background-position: 0 -219px;
}
/* line 181, ../sass/cloth.scss */
.middle-tool .tool-c .t_l {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 23px;
}
/* line 188, ../sass/cloth.scss */
.middle-tool .tool-c .t_r {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 50%;
  height: 23px;
}

/* line 197, ../sass/cloth.scss */
.cloth-list {
  position: relative;
}
/* line 200, ../sass/cloth.scss */
.cloth-list .list-wrap .row {
  margin: 0% 0% 1% 0%;
}
/* line 202, ../sass/cloth.scss */
.cloth-list .list-wrap .row .col-xs-3 {
  padding: 0% 0.5% 0% 0.5%;
}
/* line 204, ../sass/cloth.scss */
.cloth-list .list-wrap .row .col-xs-3 img {
  width: 100%;
}
/* line 209, ../sass/cloth.scss */
.cloth-list .list-wrap.ta {
  display: none;
}
/* line 214, ../sass/cloth.scss */
.cloth-list .carsol-left, .cloth-list .carsol-right {
  position: absolute;
  width: 19px;
  height: 34px;
  top: -webkit-calc(50% - 17px);
  top: calc(50% - 17px);
}
/* line 220, ../sass/cloth.scss */
.cloth-list .carsol-left {
  left: 0.5%;
  background-position: 0 -697px;
}
/* line 224, ../sass/cloth.scss */
.cloth-list .carsol-right {
  right: 0.5%;
  background-position: 0 -629px;
}

/* line 230, ../sass/cloth.scss */
.bt-grounp {
  margin: 0px;
  padding-bottom: 1%;
}
/* line 233, ../sass/cloth.scss */
.bt-grounp .btn {
  color: #fff;
  background-color: #15afb9;
  padding: 6px 6px;
}
/* line 237, ../sass/cloth.scss */
.bt-grounp .btn.btn-link {
  background-color: #fff;
  color: #15afb9;
}
