@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";
@import "cloth/*.png";

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

.navbar.navbar-default{
	border:0px;
	background:#15afb9;
	color:#fff;
	@include border-radius(0px);
	min-height: 0px;
	margin-bottom:0px;
	text-align:center;
}
.jumbotron{
	margin:0px;
	padding:0px;
	background-color:#fff;
	position:relative;
	ul{
		margin:0px;
		padding:0px;
		li{
			display:none;
			img{
				width:100%;
				padding:0% 19.375%;
				&.f{
					display:none;
				}
			}
			&.current{
				display:block;
			}
		}
	}
	.flink{
		position:absolute;
		right:3%;
		width:25px;
		height:110px;
		@include cloth-sprite(t);
		@include calc(top, "30% - 55px");
		&.z{
			@include cloth-sprite(t_z);
		}
		&.f{
			@include cloth-sprite(t_f);
		}
		.z{
			position:absolute;
			top:0%;
			width:100%;
			height:50%;
		}
		.f{
			position:absolute;
			bottom:0%;
			width:100%;
			height:50%;
		}

	}
	.tool{
		background:#f1f1f1 !important;
		text-align:center;
		position:relative;
		margin:0px;
		@include clearfix;
		i{
			position: relative;
			display:inline-block;
			// float:left;
			@include border-radius(100px);
			// background:red !important;
			height:auto;
			width:10%;
			margin:0% 1.2%;
			span{
				display:inline-block;
			}
			&:before{
				content: "";
				display: block;
				padding-top: 100%;
			}

			&.current{
 				-moz-box-shadow:    inset 0 0 10px #000000;
   				-webkit-box-shadow: inset 0 0 10px #000000;
   				box-shadow:         inset 0 0 10px #000000;
			}
		}
		.i-up{
			i{
				margin:0.4% 1.2% -2% 1.2%;
				&.c1{
					background-color:#fff;
				}
				&.c3{
					background-color:#fc0;
				}
				&.c5{
					background-color:#f60;
				}
				&.c7{
					background-color:#f00;
				}
				&.c9{
					background-color:#b18bbc;
				}
				&.c11{
					background-color:#ffc1d1;
				}
				&.c13{
					background-color:#6d4432;
				}				
			}
		}
		.i-down{
			i{
				&.c0{
					background-color:#000;
					&.current{
 						-moz-box-shadow:    inset 0 0 10px #fff;
   						-webkit-box-shadow: inset 0 0 10px #fff;
   						box-shadow:         inset 0 0 10px #fff;
					}
				}
				&.c2{
					background-color:#999;
				}
				&.c4{
					background-color:#99d02a;
				}
				&.c6{
					background-color:#063;
				}
				&.c8{
					background-color:#494a34;
				}
				&.c10{
					background-color:#00b9c5;
				}
				&.c12{
					background-color:#86ace3;
				}
				&.c14{
					background-color:#1942af;
				}								
			}
		}
	}
}
.middle-tool{
	position:relative;
	width:100%;
	text-align:center;
	border-top:1px solid #9a9a9a;
	background-color:#666666;
	.tool-c{
		position:relative;
		margin-left:0px;
		margin-right:0px;
		margin:0 auto;
		width:166px;
		height:23px;
		@include cloth-sprite(tool);
		&.ks{
			@include cloth-sprite(tool_l);
		}
		&.ta{
			@include cloth-sprite(tool_r);
		}

		.t_l{
			position:absolute;
			top:0%;
			left:0%;
			width:50%;
			height:23px;
		}
		.t_r{
			position:absolute;
			top:0%;
			right:0%;
			width:50%;
			height:23px;
		}
	}
}
.cloth-list{
	position:relative;
	.list-wrap{
		.row{
			margin:0% 0% 1% 0%;
			.col-xs-3{
				padding:0% 0.5% 0% 0.5%;
				img{
					width:100%;
				}
			}
		}
		&.ta{
			display:none;
		}
	}

	.carsol-left,.carsol-right{
		position:absolute;
		width:19px;
		height:34px;
		@include calc(top, "50% - 17px");
	}
	.carsol-left{
		left:0.5%;
		@include cloth-sprite(prev-nav);
	}
	.carsol-right{
		right:0.5%;
		@include cloth-sprite(next-nav);	
	}
}

.bt-grounp{
	margin:0px;
	padding-bottom:6px;
	.btn{
		color:#fff;
		background-color:#15afb9;
		padding:6px 6px;
		&.btn-link{
			background-color:#fff;
			color:#15afb9;
		}
	}
}